@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
}

body{
	 background: url('../pics/bg-body.jpg');
	 background-size: contain;
	 margin: 0;
}
div{
	background-color: white;
	max-width: 600px;
	width: 90%;
	padding: 20px;
	margin: 40px auto;
}
