@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
}

body{
	 background: url('../pics/bg-body.jpg');
	 margin: 0;
}
div{
	background-color: white;
	
	max-width: 800px;
	padding: 20px;
	margin: 20px auto;	
	border-left: 10px solid green;
	border-right: 10px solid red;
}
